---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于本站</h2>
        <div class="tag-post-list">
          <ul>
            <li>互联网上总要有个自我审视的地方</li>
            <li>在这里分享：个人成长、软件工具、编程……也许还有数码</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>已失败😭</li>
            <li>写作中📝</li>
            <li>读书中📚</li>
            <li>电子阳痿 😞</li>
            <li>在自律的路上💪</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag" style="text-decoration: line-through;">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/scavenger869" target="_blank"
                >Twitter</a
              >
            </li>
            <li>
              <a href="https://github.com/loongphy" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>无论人达到了何种境界，终究是肉体凡胎，拒绝个人崇拜。</li>
            <li>Less work, more money, more life!</li>
            <li>
              喜欢<a
                href="https://baike.baidu.com/item/王小波/6673"
                target="_blank">王小波</a
              >，那我们就是异父异母的好兄弟。
            </li>
            <li>
              <a
                href="http://www.zhongguonianjian.com/a/lishishangdejintian/xiandaizhongguo/2011/0414/79608.html"
                target="_blank">我劝同志们读一点书，免得受知识分子的骗</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
